extends ../layout

		
		
block optionuser
	div#corpooptionuser
		div#filhooptionuser
			a(href="/")
				img(src= "../images/icons/back.png" id="imgoptionuser")

block content
	table#tabelatitulopagina
		tr
			td
				table
					tr
						td &nbsp;
					tr
						td
						
					tr
						td &nbsp;

	div

	form(action="/usuario/alteracao_senha/#{value.id_usuario}"  class="regform" method="post" align="center")

		fieldset(id="first")
			label#tituloPagina Alteração de senha
			br
			br
			br
			table
				tr
					td
						label#textoFormulario Usuario
					td
						input(id="login" name="login" type="text" maxlength="11" size="1"  value="#{value.login}" style="background-color:  #e2e9ee; width: 84px;")
				tr
					td
						label#textoFormulario Senha atual
					td
						input(id="senha" name="senha" type="password" maxlength="11" size="1" style="background-color:  #e2e9ee; width: 84px;")
				tr
					td
						label#textoFormulario Nova senha
					td
						input(id="nova_senha" name="nova_senha" type="password" maxlength="11" size="1" style="background-color:  #e2e9ee; width: 84px;")
				tr
					td
						label#textoFormulario Confirmar nova senha
					td
						input(id="conf_senha" name="conf_senha" type="password" maxlength="11" size="1" style="background-color:  #e2e9ee; width: 84px;")
				tr
					td
						&nbsp
					td
						&nbsp
				tr
					td
						&nbsp
					td 
						input(type="submit" id="buttonForm" name="buttonSave" value="confirmar")